.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('/assets/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.welcomepart{
    background-color: rgba(59, 54, 54, 0.5);
    font-family: 'Cinzel', serif;
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(247, 250, 250);
}