<div class="aboutus">
    <div class="aboutusleft">
        <img src="/assets/aboutus.jpg" alt="image cannot be displayed" class="imageclass">
    </div>
    <div class="aboutusright">
        <div class="content">
            <h1>About Us</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit soluta non maiores obcaecati possimus quos
                necessitatibus! Explicabo voluptates voluptas porro nisi facilis libero, sed recusandae eligendi atque!
                Animi dolores, repellendus minus quos quaerat sunt aperiam quod, commodi, molestias labore doloremque!
            </p>
            <button class="btnMenu" type="submit">Explore Menu</button>
        </div>
    </div>
</div>