<div class="services">
  <div class="servicesup">
      <h1>Services</h1>
  </div>
  <div class="servicesdown">
      <div class="card">
          <div class="cardup">
            <img src="/assets/serviceone.png" alt="" height="100px" width="100px">
          </div>
          <div class="carddown">
            <p>24/7 Services</p>
          </div>
        </div>
        <div class="card">
          <div class="cardup">
            <img src="/assets/serviceone.png" alt="" height="100px" width="100px">
          </div>
          <div class="carddown">
            <p>24/7 Services</p>
          </div>
      </div>
      <div class="card">
          <div class="cardup">
            <img src="/assets/serviceone.png" alt="" height="100px" width="100px">
          </div>
          <div class="carddown">
            <p>24/7 Services</p>
          </div>
      </div>
  </div>
</div>